.user__wrapper {
  background: $Light-Black;
  margin: 2rem auto;
  padding: 2rem 1rem;
  border-radius: 0.3rem;
}

.back__home__btn {
  background: $Blue;
  display: inline-block;
  padding: 0.7rem 1.5rem;
  margin: 2rem 0;
  border-radius: 0.3rem;
}

.profile__img {
  margin: auto;
}

.profile__details {
  text-align: center;
  margin: 2rem auto;

  & > p {
    margin-bottom: 0.9rem;
  }

  .github__link {
    background: $Blue;
    padding: 0.7rem 1.5rem;
    display: inline-block;
    text-align: center;
  }
}

.grid {
  @include grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;

  img {
    width: 15rem;
    border-radius: 100%;
  }
}

.grid:not(:first-child) {
  margin-top: 2rem;
}
.grid:nth-child(3) {
  background: $Blue;
  padding: 0.8rem 0;
  text-align: center;
  border-radius: 0.5rem;
}

.flex {
  display: flex;
  align-items: center;
  margin: 0.7rem 0;
}

.bio {
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
}

.location__and__website {
  img {
    width: 1.5rem;
    margin-right: 1rem;
  }
}

#hireable,
#not-hireable,
#email {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: $Blue;
}

@media screen and (min-width: 1024px) {
  .user__wrapper {
    padding: 2rem 4rem;
  }

  .profile__details {
    text-align: left;
    margin-left: 3rem;
  }

  .bio {
    text-align: left;
  }
}
